/* ===== VARIABLES CSS ===== */
:root {
    /* Colores principales */
    --primary-blue: #1e3c72;
    --accent-blue: #2a5298;
    --light-blue: #4a90e2;
    
    --dark-background: #131313;
    --dark-background-hover:rgb(49, 49, 49);
    /* Gradientes */
    --gradient-primary: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    --gradient-accent: linear-gradient(135deg, #4a90e2 0%, #74b9ff 100%);
    
    /* Colores de texto */
    --text-primary: #ebebeb;
    --text-primary-hover: #4a90e2;
    --text-dark: #2c3e50;
    --text-light: #7f8c8d;
    --white: #ffffff;
    --bg-light: #f8fafc;
    
    /* Estados */
    --success: #00b894;
    --warning: #fdcb6e;
    --error: #e17055;
    
    /* Sombras */
    --shadow: 0 20px 60px rgba(30, 60, 114, 0.2);
    --shadow-hover: 0 30px 80px rgba(30, 60, 114, 0.45);
    
    /* Tipografía */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --line-height: 1.6;
    
    /* Espaciado */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 8rem;
    
    /* Bordes */
    --border-radius: 20px;
    --border-radius-sm: 10px;
    --border-radius-lg: 25px;
    
    /* Transiciones */
    --transition: all 0.3s ease;
    --transition-fast: all 0.15s ease;
    --transition-slow: all 0.6s ease;
}
