section{
    padding: 2rem;
    min-height:100vh;
}

.section-hr{
    margin: 1rem;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--primary-color) 50%, rgba(0,0,0,0) 100%);
    height: 5px;
    border: 0;
}