.logos {
  position: relative;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  white-space: nowrap;
  background: var(--dark-background);
  box-shadow: 0px 0px 10px 1px black;
  z-index: 2;
}

.logos:before, .logos:after {
  position: absolute;
  top: 0;
  content: '';
  width: 10px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0,0,0,0)); /* ← Corregido: to right */
}

.logos:after {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0,0,0,0)); /* ← Corregido: to left */
}

@keyframes logos_slides {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo_items {
  display: flex;
  width: max-content;
  min-width: 100%;
  gap: 2rem; 
  animation: 25s logos_slides infinite linear;
}

.logo_items img{
  height: 40px;
  margin: 0.8rem 0;
  flex-shrink: 0;
}