
.logos {
  position:relative;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  white-space: nowrap;
  background: var(--dark-background);
  box-shadow: 0px 0px 10px 1px black;
  z-index: 2;
}

.logos:before, .logos:after {
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  width: 40px;
  background: linear-gradient(to left, rgba(0,0,0,0), rgb(0, 0, 0));
}

.logos:after {
  right: 0;
  width: 40px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgb(0, 0, 0));
}

@keyframes logos_slides {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.logo_items {
    display: flex;
    width: max-content;
    min-width: 100%;
    justify-content: space-evenly;
    animation: 25s logos_slides infinite linear;
}

.logo_items img{
  height: 40px;
  margin: 0.8rem;
  margin-left: 5rem;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  .logos:before, .logos:after {
    width: 20px;
  }

  .logo_items img {
    height: 35px;
    margin: 0.6rem;
    margin-left: 2rem; /* Reduce margin to prevent images going off-screen */
  }
}

@media (max-width: 480px) {
  .logo_items img {
    height: 30px;
    margin: 0.4rem;
    margin-left: 1rem; /* Further reduce margin for very small screens */
  }
}




.logo_items img[src*="sib_isologo"] {
  transform: scale(1.9);
  transform-origin: center center;
  overflow: hidden;
  max-height: 40px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo_items img[src*="sib_isologo"] {
    transform: scale(1.7);
    max-height: 35px;
  }
}

@media (max-width: 480px) {
  .logo_items img[src*="sib_isologo"] {
    transform: scale(1.5);
    max-height: 30px;
  }
}

@media (max-width: 320px) {
  .logo_items img[src*="sib_isologo"] {
    transform: scale(1.3);
    max-height: 30px;
  }
}

@media (min-width: 1200px) {
  .logo_items img[src*="sib_isologo"] {
    transform: scale(1.9);
    max-height: 40px;
  }
}

/*
.logo_items img[src*="sib-isologo-small"] {
  transform: scale(1.9);
  transform-origin: center center;
  overflow: hidden;
  max-height: 40px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo_items img[src*="sib-isologo-small"] {
    transform: scale(1.7);
    max-height: 35px;
  }
}

@media (max-width: 480px) {
  .logo_items img[src*="sib-isologo-small"] {
    transform: scale(1.5);
    max-height: 30px;
  }
}

@media (max-width: 320px) {
  .logo_items img[src*="sib-isologo-small"] {
    transform: scale(1.3);
    max-height: 30px;
  }
}

@media (min-width: 1200px) {
  .logo_items img[src*="sib-isologo-small"] {
    transform: scale(1.9);
    max-height: 40px;
  }
}*/