
.logos {
  position:absolute;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  white-space: nowrap;
  background: var(--dark-background);
  box-shadow: 0px 0px 10px 1px black;
  z-index: 2;
}

.logos:before, .logos:after {
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  width: 40px;
  background: linear-gradient(to left, rgba(0,0,0,0), rgb(0, 0, 0));
}

.logos:after {
  right: 0;
  width: 40px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgb(0, 0, 0));
}

@keyframes logos_slides {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.logo_items {
    display: flex;
    width: max-content;
    min-width: 100%;
    justify-content: space-evenly;
    animation: 25s logos_slides infinite linear;
}

.logo_items img{
  height: 40px;
  margin: 0.8rem;
  margin-left: 5rem;
}