/* ===== FOOTER ===== */
footer {
    background: var(--primary-blue);
    box-shadow: var(--shadow);
    color: var(--white);
    padding: 2rem;
    text-align: center;
}
.footer-card{
    display: flex;
    justify-content: space-between;
}
.footer-content {
    width: 100%;
}
.footer-logo {
    width: 33%;
    max-width: 250px;
    height: auto;
    display: block;
    object-fit: contain;
    margin:10px;
}

.footer-text {
    margin-bottom: 2rem;
    opacity: 0.9;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/*Links del footer*/
.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    margin:10px;
    width: 33%;
    max-width: 250px;
}
.footer-links ul{
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 0.3rem;
}
.footer-links ul li{
    color: var(--primary-blue);
    background: var(--white);
    border-radius: 50%;
    align-self: center;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: var(--transition);
}
.footer-links ul li:hover {
    transform: translateY(-3px);
}

/*Contactos*/
.footer-contactos{
    margin:10px;
}
.footer-contactos ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-contactos ul li{
    margin: 0px 10px;
}
.footer-contactos ul li a i{
    margin-right: 5px;
}

.copyright {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 2rem;
    opacity: 0.7;
}

@media (max-width: 850px) {
    .footer-card{
        flex-direction: column;
        align-items: center;
    }
    .footer-logo {
        width: 40%;
    }
}